---
interface Props {
	title: string;
	content: string;
}

const { title, content } = Astro.props;
---
<div class="col-lg-6">
                
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{title}</h5>
            <p>{content}</p>
        </div>
    </div>

</div>
